/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bruno+Ace+SC&family=Cinzel+Decorative:wght@400;700;900&family=Codystar:wght@300;400&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Major+Mono+Display&family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Notable&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  caret-color: transparent;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #000000;
  background-image:
    radial-gradient(at 0% 0%, hsla(196, 100%, 47%, 0.5) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(310, 100%, 52%, 0.4) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(71, 100%, 50%, 0.3) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(129, 24, 24) 0px, transparent 50%);
}


a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
}

.dark {
  background: #121212;
  color: white;
}

::selection {
  background: rgba(176, 255, 79, 0.85);
  color: #111;
}

::-moz-selection {
  background: rgba(176, 255, 79, 0.85);
  color: #111;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      #00c8ff,
      #d946ef,
      #b0ff4f);

  border-radius: 999px;

  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

/* Tablets */
@media (max-width: 1024px) {
  html {
    font-size: 95%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  html {
    font-size: 90%;
  }

  body {
    overflow-x: hidden;
  }

  #root {
    width: 100%;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  html {
    font-size: 85%;
  }
}